AbsReader.xcodeproj/sas.*
build/*
AbsReader.xcodeproj/project.xcworkspace/xcuserdata/sas.*
AbsReader.xcodeproj/xcuserdata/*
AutomationTests/AppReaderTests.trace/*
tuneup
releases/*.ipa
releases/iOS_Team_Provisioning_Profile_.mobileprovision